transformers
streamlit
streamlit-chat
huggingface-hub
torch
tqdm
streamlit-extras
hugchat
directory_structure
alive_progress
fade
python-dotenv
openai
gradio
ipywidgets
inquirer
prettytable
jira
pandas
altair
requests
